body{
    background-image: linear-gradient(115deg,rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)),url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-repeat:no;
    color:white;
    text-align: center;
    font-family: sans-serif;
  }
  
  h1{
    margin-top: 2em;
    font-size: 2.5em;
    margin-bottom: 0;
  }
  p{
    margin-top:2;
    font-style:italic;
    margin-bottom: 3em;
  }
  
  #container{
    background-color:  rgba(25, 25, 50, 0.8);
    margin: auto;
    width: 60%;
    color: white;
    text-align: left;
    border-radius: 10px;
    padding: 20px;
  }
  #name, #email, #number{
    margin: 10 10 10 0;
    height: 3em;
    width: 100%;
    border-radius:0.3em;
    display:block;
  }
  #dropdown{
    display:block;
    width:100%;
    height: 3em;
    margin: 10 10 10 0;
    border-radius:0.3em;
  }
  /* #radio-label{
    display:inline-block;
    width: 100%;
  } */
  .radio-btns{
    display:inline-block;
    min-height:1.25em;
    min-width:1.5em;
  }
  .radio-input{
    display:block;
    margin-left:0;
    margin-top: 0.3em; 
  }
  label{
    display:block;
    margin-top:1.2em;
    font-size:16px;
  }
  .check-input{
    display:block;
  }
  #textarea-id{
    background-color:rgb(25, 25, 50);
    color:white;
    border-radius:0.3em;
  }
  #submit{
    background-color: rgba(0,200,0,0.8);
    border-radius: 0.3em;
    min-height: 40px;
    min-width: 70px;
    margin: 20px auto;
    display:block;
  }
  #textarea-label{
      display:block;

  }
  #textarea-id{
      display:block;
      width:100%;

  }
